@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@layer base {
  :root {
    --background: 210 20% 97%;
    --foreground: 210 11% 15%;

    --card: 0 0% 100%;
    --card-foreground: 210 11% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 11% 15%;

    --primary: 203 100% 37%;
    --primary-foreground: 0 0% 100%;

    --secondary: 44 100% 60%;
    --secondary-foreground: 210 11% 15%;

    --muted: 210 20% 96%;
    --muted-foreground: 207 3% 47%;

    --accent: 44 100% 60%;
    --accent-foreground: 210 11% 15%;

    --success: 93 53% 51%;
    --success-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 18% 90%;
    --input: 210 18% 90%;
    --ring: 203 100% 37%;

    --radius: 0.625rem;

    --sidebar-background: 203 100% 37%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 44 100% 60%;
    --sidebar-primary-foreground: 210 11% 15%;
    --sidebar-accent: 203 100% 30%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 203 100% 30%;
    --sidebar-ring: 44 100% 60%;
    --sidebar-muted-foreground: 203 50% 80%;
  }

  .dark {
    --background: 210 11% 10%;
    --foreground: 210 20% 96%;

    --card: 210 11% 14%;
    --card-foreground: 210 20% 96%;

    --popover: 210 11% 14%;
    --popover-foreground: 210 20% 96%;

    --primary: 203 100% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 44 100% 50%;
    --secondary-foreground: 210 11% 15%;

    --muted: 210 11% 18%;
    --muted-foreground: 207 3% 60%;

    --accent: 44 100% 50%;
    --accent-foreground: 210 11% 15%;

    --success: 93 53% 45%;
    --success-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 96%;

    --border: 210 11% 20%;
    --input: 210 11% 20%;
    --ring: 203 100% 45%;

    --sidebar-background: 210 11% 8%;
    --sidebar-foreground: 210 20% 96%;
    --sidebar-primary: 44 100% 50%;
    --sidebar-primary-foreground: 210 11% 15%;
    --sidebar-accent: 210 11% 14%;
    --sidebar-accent-foreground: 210 20% 96%;
    --sidebar-border: 210 11% 14%;
    --sidebar-ring: 44 100% 50%;
    --sidebar-muted-foreground: 210 11% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
    font-family: 'DM Sans', sans-serif;
  }
}
